<nav class="navbar">
    <p class="logo"><i class="far fa-user"></i>PortFolio</p>

    <ul class="link sideav" id="mysidenav">
        <li><a href="javascript:void(0)" class="closebtn">&times;</a></li>
        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="#service"><i class="fas fa-address-card"></i> About</a></li>
        <li><a href="/ragister"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        <li><a href="/project"><i class="fas fa-tasks"></i> Projets</a></li>
        <li><a href="/logout"><i class="fas fa-user"></i> Logout </a></li>
    </ul>

    <div class="hamburger">
        <span class="menu"> &#9776 </span>
    </div>
</nav>